body {
  background-color: #B82C11;
}

.navbar-header-link a:hover, a:focus, a:active {
  text-decoration: none;
}

.navbar-header-link h3 {
  color: #FCDED4;
  font-family: 'Droid Serif', serif;
  font-size: 30px;

  span {
    color: #403E3D
  }
}

.header {
  background-color: #B82C11;
  height: 80px;

  .glyphicon-menu-hamburger {
    font-size: 20px;
    margin-left: 0px;
    color: #FCDED4;
    opacity: .75;

    ul {
     background-color: #B82C11;
    }
  }


}

.dropdown ul {
  background-color: #FCDED4;
   font-family: 'Droid Serif', serif;

   a:hover {
    color: #FCDED4;
   }
}

.navbar-right {
  height: 80px;
  width: 150px;


  .dropdown {
    height: 80px;


    .login {
      height: 80px;
    }
  }
}

.section-head {
  text-align: center;
  height: 0px;

  .glyphicon-triangle-bottom {
    color: #B82C11;
    font-size: 40px;
    text-align: center;
    height: 0px;
    line-height: .75;
  }
}



.hero-content {
  margin-top: 0px;
  background-color: #B82C11;
  text-align: center;

  .date {
    color: #FCDED4;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
    opacity: .50;
    margin-bottom: 5px;
}

    .countdown {
      color: #FCDED4;
      font-family: 'Oswald', sans-serif;
      font-size: 300px;
      padding-top: 0px;
      margin-top: 0px;
      opacity: .75;

      h3 {
        font-family: 'Droid Serif', serif; 
      }

  }

      .btn-default {
        background-color: #B82C11;
        color: #FCDED4
      }

      .btn-default:hover {
        background-color: #FCDED4;
        color: black;
      }

}


.start-button {
  padding-top: 0px;
  padding-bottom: 80px;
}

.second-section {
  padding-top: 20px;
  margin-top: 5px;
  background-color: #403E3D;

  .dashboard-container {
    margin-top: 10px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    opacity: .50;
    font-size: 24px;
    border: none;
 }
    table {
      margin-top: 100px;
      border-style: none;
    }

    .table-heading {
      border: none;
    }

    .table-data {
      border-top: none;
    }

    input {
      border: none;
      background-color: #403E3D;
    }

    tr {
      border: none;
    }
}

  .third-section {
  padding-top: 20px;
  margin-top: 5px;
  background-color: white;

    h5 {
    font-size: 24px;
    text-align: center;
    font-family: 'Droid Serif', serif;
    padding-top: 0px;
    padding-bottom: 60px;
    
   
  }
    h2 {
    font-size: 60px;
    text-align: center;
    font-family: 'Droid Serif', serif;
    padding-top: 40px;
    padding-bottom: 0px;
    color: #B82C11;
    }

    h3 {
      padding-bottom: 20px;
      font-family: 'Oswald', sans-serif;
      font-style: bold;
      font-size: 24px;
    }

    p {
      padding-bottom: 50px;
      font-family: 'Droid Serif', serif;
      font-size: 16px;
    }
}

.glyphicon-time {
  font-size: 90px;
  color: #C4AAA1

}

.glyphicon-fire {
  font-size: 90px;
  color: #C4AAA1

}

.glyphicon-phone {
  font-size: 90px;
  color: #C4AAA1
 
}

.glyphicon-home {
  font-size: 90px;
  color: #C4AAA1
 
}

.col-md-3 {
  text-align: center;
}


.third-section {
  background-color: #C4AAA1;

}

.timer {
  white-space: pre;
}

.dropdown-menu {
  color: #FCDED4;

  .dropdown-links:hover {
    color: #FCDED4;

  }
}

.login a {
  color: #FCDED4;
  font-size: 16px;
  font-family: 'Droid Serif', serif;
  opacity: .75;


}

  a:hover {
    color: #403E3D;
    background-color: #B82C11 !important;
  }

  a:active {
    background-color: #B82C11 !important;
  }

  a:focus {
    background-color: #B82C11 !important;
  }
  //font-family: font-family: 'Josefin Sans', sans-serif;
  //color: #FCDED4;
  //font-size: 80px;

  .dashboard-header {

  }

  .dashboard-container {
    width: 100%;
    height: 1000px;
  }

  .login-container {
    width: 100%;
    height: 500px;
    padding-top: 50px;

    .form-horizontal {
      padding-top: 20px;
      opacity: .75;
 
    }

    .control-label {
      color: #B82C11;
    }
  }

  .task-label {
    color: #FCDED4;
    font-family: 'Droid Serif', serif;
    font-size: 20px;
  }

 .todo-session {
  margin-right: 0 auto;
 }