// ================ INDEX PAGE ===================

body {
  background-color: #B82C11;
}

.navbar-header-link h3 {
  color: #FCDED4;
  font-family: 'Droid Serif', serif;
  font-size: 30px;

  span {
    color: #403E3D
  }
}

.navbar-header-link:hover, .navbar-header-link:active, .navbar-header-link:visited {
  text-decoration: none;
}

.navbar-header-link h3:hover {
  text-decoration: none;
  color: #000000;
}

.navbar-header-link h3:hover, .navbar-header-link h3:active, .navbar-header-link h3:visited {
  text-decoration: none;
}

.footer {
  height: 100px;
  background-color: #333333;

}

.footer-text {
  color: #FCDED4;
  font-family: 'Droid Serif', serif;
  font-size: 16px;
  text-align: center;
  margin-top: 40px;
}


.navbar-default {
  background-color: #B82C11;
  height: 80px;
  border: none;

  // .glyphicon-menu-hamburger {
  //   font-size: 20px;
  //   margin-left: 0px;
  //   color: #FCDED4;
  //   opacity: .75;

  //   ul {
  //    background-color: #B82C11;
  //   }
  // }
}

 .login a {
  color: #fcf5e3 !important;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  opacity: .75;
}

  .login a:hover {
    color: #403E3D;
    background-color: #B82C11 !important;
  }

  .login a:active {
    background-color: #B82C11 !important;
  }

  a:focus {
    background-color: #B82C11 !important;
  }

.dropdown ul {
  background-color: #FCDED4;
   font-family: 'Droid Serif', serif;

   a:hover {
    color: #FCDED4;
   }
}

.navbar-right {
  color: #000000;
  margin-top: 15px;

  .dropdown {
    height: 80px;

  }
}

// ================ HOME PAGE ===================

.hero-content {
  margin-top: 0px;
  background-color: #B82C11;
  text-align: center;

  .date {
    color: #FCDED4;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
    opacity: .50;
    margin-bottom: 5px;
  }

    .countdown {
      color: #FCDED4;
      font-family: 'Oswald', sans-serif;
      font-size: 300px;
      padding-top: 0px;
      margin-top: 0px;
      opacity: .75;
    }

      h3 {
        font-family: 'Droid Serif', serif; 
    
      }

      .btn-default {
        background-color: #B82C11;
        color: #FCDED4
      }

      .btn-default:hover {
        background-color: #FCDED4;
        color: #B82C11;
      }
}

.start-button {
  padding-top: 0px;
  padding-bottom: 80px;
}

.section-head {
  text-align: center;
  height: 0px;

  .glyphicon-triangle-bottom {
    color: #B82C11;
    font-size: 50px;
    text-align: center;
    height: 0px;
    line-height: .65;
  }
}

// ================ INFO PAGE ===================

.section-head {
  text-align: center;
  height: 0px;

  .glyphicon-triangle-bottom {
    font-size: 50px;
    text-align: center;
    height: 0px;
    line-height: .65;
  }
}

.github-icon {
  height: 60px;
  width: 60px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.second-section {
  color: #FCDED4;
  padding-top: 20px;
  margin-top: 5px;

  .dashboard-container {
    margin-top: 10px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    border: none;
 }
    table {
      margin-top: 100px;
      border-style: none;
    }

    .table-heading {
      border: none;
    }

    .table-data {
      border-top: none;
    }

    input {
      border: none;
      background-color: #B82C11;
    }
}

  .pomodoro {
  padding-top: 20px;
  margin-top: 5px;
  background-color: #FCDED4;

    h5 {
    font-size: 24px;
    text-align: center;
    font-family: 'Droid Serif', serif;
    padding-top: 0px;
    padding-bottom: 60px;   
  }
    h2 {
    font-size: 60px;
    text-align: center;
    font-family: 'Droid Serif', serif;
    padding-top: 40px;
    padding-bottom: 0px;
    color: #B82C11;
    }

    h3 {
      padding-bottom: 20px;
      font-family: 'Oswald', sans-serif;
      font-style: bold;
      font-size: 24px;
      color: #B82C11;
    }

    p {
      padding-bottom: 50px;
      font-family: 'Droid Serif', serif;
      font-size: 16px;
    }
}

.web-link {
  color: #333333;;

}

.web-link:hover {
    color: #B82C11;
      text-decoration: none;
}

.glyphicon-time {
  font-size: 90px;
  color: #ED6E55;
  opacity: .5;
}

.glyphicon-fire {
  font-size: 90px;
  color: #ED6E55;
  opacity: .5;
}

.glyphicon-phone {
  font-size: 90px;
  color: #ED6E55;
  opacity: .5;
}

.glyphicon-home {
  font-size: 90px;
  color: #ED6E55;
  opacity: .5;
}

.col-md-3 {
  text-align: center;
}


.timer {
  white-space: pre;
}

.dropdown-menu {
  color: #FCDED4;

  .dropdown-links:hover {
    color: #FCDED4;

  }
}

  .pulse-pause {
  padding-top: 20px;
  margin-top: 5px;
  background-color: #fcf5e3;

  p {
    color: #fff;
  }

  #info-pulse-and-pause p{
    text-align: center;
    color: orange;
    font-size: 44px;
    font-style: bold;
  }

  .pulse-how-to p{
    color: #fff;
    font-size: 50px;
  }

  .how-to {
    color: #fff;
  }

  .info {
    color: #333333;
  }

  .info:hover {
    color: #B82C11;
  }

  .web-link:hover {
    color: #B82C11;
  }
  .short-message {
    font-size: 30px;
    margin-bottom: 40px;

  }
  .social-link {
    color: #B82C11;
  }
  .social-link:hover {
    color: #333333;
    font-style: bold;
  }

  a:hover {
    text-decoration: none;
  }

    h5 {
    font-size: 24px;
    text-align: center;
    font-family: 'Droid Serif', serif;
    padding-top: 0px;
    padding-bottom: 60px;
    line-height: 1.5;
    
  }
    h2 {
    font-size: 60px;
    text-align: center;
    font-family: 'Droid Serif', serif;
    padding-top: 40px;
    padding-bottom: 0px;
    color: #B82C11;
    }

    h3 {
      padding-bottom: 20px;
      font-family: 'Oswald', sans-serif;
      font-style: bold;
      font-size: 24px;
      color: #FCDED4;

    }

    p {
      padding-bottom: 50px;
      font-family: 'Droid Serif', serif;
      font-size: 16px;
      color: #B82C11;
    }

    .social-highlight {
    color: #B82C11;
    }

    .click-start {

    }
}

  //font-family: font-family: 'Josefin Sans', sans-serif;
  //color: #FCDED4;
  //font-size: 80px;

  .dashboard-header {

  }

  .dashboard-container {
    width: 100%;
    height: 1000px;
  }

  .login-container {
    width: 100%;
    height: 500px;
    padding-top: 50px;

    .form-horizontal {
      padding-top: 20px;
      opacity: .75;
 
    }

    .control-label {
      color: #B82C11;
    }
  }


  .task-label {
    color: #FCDED4;
    font-family: 'Droid Serif', serif;
    font-size: 20px;
  }

 .todo-session {
  margin-right: 0 auto;
 }

 #dashboard-details {
      background-color: #B82C11;
      padding-top: 0px;
      margin-top: 0px;
      opacity: .75;

      h1 {
      text-align: center;
      color: #FCDED4;
      font-family: 'Oswald', sans-serif;
      font-size: 75px;        
      }

      h3 {
      text-align: center;
      color: #FCDED4;
      font-family: 'Oswald', sans-serif;
      font-size: 25px;        
      }
 }

 #donut h3 {
  text-align: center;
  color: #FCDED4;
 }

 #line h3 {
  text-align: center;
  color: #FCDED4;
 }
 #login-button {
  padding-right: 15px;
 }

 #pp-description {
      text-align: center;
      color: #FCDED4;
      font-family: 'Droid Serif', serif;
      font-size: 16px; 
      opacity: .75;
      margin-bottom: 75px;
 }

 .logout-button {
    margin-top: 50px;
    text-align: center;

    .btn-default {
      background-color: #B82C11;
      color: #FCDED4;
     }
       .btn-default:hover {
        background-color: #FCDED4;
        color: #B82C11;
      }
}



