<!-- <div class="dashboard-header">
  <h1>dashboard</h1>
</div> -->

  <div class="container">
    <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="col-lg-6">
        <div class="container clearfix">
          <div class="third widget doughnut">
              <h3>Breakdown of Tasks</h3>
              <div class="canvas-container">
                  <canvas id="hours"></canvas>
              </div>
          </div>
        </div>
      </div>
          
      <div class="col-lg-6">
        <div class="third widget line">
          <div class="chart-legend">
              <h3>Productivity per Day</h3>
          </div>
          <div class="canvas-container">
              <canvas id="shipments"></canvas>
          </div>
        </div>
      </div>
      </div>



  </div> <!-- end of row -->
</div> <!-- end of container -->

  <div id="Info" class="second-section">
  
    <div id="tasks" class="container">
      <div class="dashboard-container" ng-controller="Home.controller">
        <div class="row">
          <div class="col-lg-12">
            <table class = "table">
              <thead>
                <tr>
                  <th class="table-heading">Date</th>
                  <th class="table-heading">Task</th>
                  <th class="table-heading">Sessions</th>
                  <th class="table-heading">Comments</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-hover" ng-repeat="task in tasks | orderBy: '-created'">          
                  <td class="table-data"> {{ task.created | date: 'mediumDate' }}</td>
                  <td class="table-data" ng-show="task.name !== 'Not Labeled'"> {{ task.name }} </td>
                  <td class="table-data" ng-show="task.name === 'Not Labeled'"><input class="comments" type="text" ng-change="addTaskName(task)" ng-model="taskNewName" placeholder="enter label here..."></td>
                  <td class="table-data" ng-model="newTask"> {{ task.session }} </td>
                  <td class="table-data"><input class="comments" ng-hide="!task.session" type="text" ng-submit="newTaskComments" placeholder="enter comments here..."></td>
                </tr>
              </tbody>
          </table>
          </div> 
        </div> 
      </div> 
    </div>

  </div>

