<div class="login-container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">

      <div class="panel panel-default">
        <div class="panel-body">

          <form class="form-horizontal" ng-submit="addUser()">
            <div class="form-group">
              <div class="col-sm-12">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email address" ng-model="userEmail">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="userPassword">
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-4 col-lg-offset-4.5">
                <button type="submit" class="btn btn-default">Sign in</button>
              </div>
              <div class="col-lg-4 col-lg-offset-4">
                <span>Don't have a login? <a href="#">Create an account</a></span>
              </div>
            </div>
          
          </form>

        </div>
      </div>
    </div> <!-- end of col-lg-4 -->
  </div> <!-- end of row -->
</div> <!-- end of container -->



