<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h3 id="pulse-desc">PULSE</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">      
      <div class="how-to">
        <p>Work in short rhythmic BURSTS, focusing on your most important task first.  After "starting" your work session, the timer will display 25-minutes; you should FOCUS on the task at hand.  Once the timer ends, you will move into a 5-minute break session. Ideally, for the most effective sesssions, complete 4-cycles and then treat yourself to a longer break.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h3 id="pulse-desc">PAUSE</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">      
      <div class="how-to">
        <p>It's critical to include scheduled breaks into your work routine.  Building RENEWAL into you work-day, prevents burn-out. It's not only important to REST your mind and eyes; breaking away between work sessions mimics your bodies NATURAL CYCLE for renewal as well. Improve your productivity by allowing yourself to take a break after sessions of intent focus.</p>
      </div>
    </div>
  </div>
</div>

<div class="section-head">     
  <div id="pulse-pause-triangle"class="glyphicon glyphicon-triangle-bottom"></div>
</div> 

<div id="theTechnique" class="pomodoro">
  <div class="container">
    <h2>The Pomodoro Technique</h2>
    <h5>Move rhythmically between spending and renewing your energy.</h5>
    <div class="row">
      <div class="col-md-3">      
        <div class="glyphicon glyphicon-time"></div>
        <div class="how-to">
          <h3>work with time</h3>
          <p>For many people, time is an enemy. We race against the clock to finish assignments and meet deadlines. The Pomodoro Technique teaches you to work with time, instead of struggling against it. A revolutionary time management system, it is at once deceptively simple to learn and life-changing to use.</p>
        </div>
      </div>

      <div class="col-md-3">      
        <div class="glyphicon glyphicon-fire"></div>
        <div class="how-to">
          <h3>eliminate burnout</h3>
          <p>Essential to the Pomodoro Technique is the notion that taking short, scheduled breaks while working eliminates the “running on fumes” feeling you get when you’ve pushed yourself too hard. It’s impossible to over work when you stick to the system. You may end up taking fewer sick days, too!</p>
        </div>
      </div>

      <div class="col-md-3">      
        <div class="glyphicon glyphicon-phone"></div>
        <div class="how-to">
          <h3>manage distractions</h3>
          <p>Whether it’s a call, a Facebook message, or suddenly realizing you need to change the oil in your car, many distracting thoughts and events come up when you’re at work. The Pomodoro Technique will help you avoid distractions and start to associate priority levels to them. Often, they can wait.</p>
        </div>
      </div>

      <div class="col-md-3">     
        <div class="glyphicon glyphicon-home"></div>
        <div class="how-to">
          <h3>work/life balance</h3>
          <p>Most of us are intimately acquainted with the guilt that comes from procrastinating. If we haven’t had a productive day, it’s pretty easy to end up feeling like we can’t enjoy our free time. Becoming a Pomodoro Master involves creating an effective timetable, allowing you to truly enjoy your time off.</p>
        </div>
      </div>
    </div>
  </div>
    <h4></h4>
    <div class="row">
      <div class="col-md-12">      
        
          <h3>For more information about the Pomodoro Technique, check out this <a href="http://pomodorotechnique.com/">site.</a></h3>
          <p></p>
     
      </div>

    </div>
  </div>



